* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
    
}

body {
    background-color: lightgrey;
}

section {
     background-image: url("cdn.discordapp.com/attachments/869048629158109224/1220099308276416603/IMG_3640.JPG?ex=660db507&is=65fb4007&hm=1b0786f18c2d5b8dbf18dabc78096d1e592a54490a383d3bc96ff96fc71d75e0&
");
        }




